.page {
  width: 83.0508474576%;
  float: right;
  margin-right: 0;
  padding-left: 5%;
  padding-right: 16.9491525424%;
}

.header {
  background-color: #E5E4E2;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; /* Roboto Light */
}


.archive {
  width: 83.0508474576%;
  float: right;
  margin-right: 0;
  padding-left: 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; /* Roboto Light */
  font-size: 12pt;
}

html, body {
  background-color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
  font-weight: 250; /* Roboto Light */
}


.page .page__inner-wrap {
  background-color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; /* Roboto Light */
  font-size: 12pt;
}

.page__footer {
  background-color: #303438;
  color: #9aa2a8;
}

#site-nav {
  background-color: #303438;
  color: white;
}

.masthead {
  background-color: #303438;
}

.page__inner-wrap {
  text-align: justify;
}

.masthead__menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; /* Roboto Light */
}

.author__content {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; /* Roboto Light */
}

.greedy-nav a {
  color: #9aa2a8;
}